table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th{
    background-color: brown;
    width: 10%;
    color: white;
  }
  .tb{

    color: white;
    background-color: brown;
  }